{% load i18n %}{% load staticfiles %}
{% load custom_tags %}
{% captureas stopit_css %}{% cache_buster "assets/css/stopit.min.css" %}{% endcaptureas %}
{% captureas animate_css %}{% cache_buster "assets/css/animate.css" %}{% endcaptureas %}
{% captureas bootstrap_css %}{% cache_buster "assets/css/bootstrap/bootstrap.min.css" %}{% endcaptureas %}
{% captureas favicon_img %}{% cache_buster  "assets/img/favicon.ico" %}{% endcaptureas %}
{% captureas bootstrap_js %}{% cache_buster  "assets/fx/bootstrap/bootstrap.min.js" %}{% endcaptureas %}
{% captureas modernizer_js %}{% cache_buster  "assets/fx/vendor/modernizr.js" %}{% endcaptureas %}
{% captureas wow_js %}{% cache_buster  "assets/fx/wow.min.js" %}{% endcaptureas %}
{% captureas global_js %}{% cache_buster  "assets/js/global.min.js" %}{% endcaptureas %}
{% captureas stopit_img %}{% cache_buster  "assets/img/stopit.png" %}{% endcaptureas %}
{% captureas map_pin_img %}{% cache_buster "assets/img/map_pin.png" %}{% endcaptureas %}
{% captureas school_img %}{% cache_buster "assets/img/school.png" %}{% endcaptureas %}
{% captureas college_img %}{% cache_buster "assets/img/college.png" %}{% endcaptureas %}
{% captureas work_img %}{% cache_buster "assets/img/work.png" %}{% endcaptureas %}
{% captureas accesscode_img %}{% cache_buster "assets/img/skip-forward.png" %}{% endcaptureas %}
{% captureas language_img %}{% cache_buster "assets/img/language_white.png" %}{% endcaptureas %}

<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ stopit_css }}" rel="stylesheet" media="screen" />
    <link href="{{ bootstrap_css }}" rel="stylesheet">
<link href="{{ animate_css }}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="shortcut icon" href="{{ favicon_img }}">
     <title>{% trans "STOPit - Web Application" %}{% block title %}{% endblock %}</title>
    {% block css_header %}{% endblock %}
    <style>
    .row
    {
        max-width: 100%;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ bootstrap_js }}"></script>
    <script src="{{ modernizer_js }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ wow_js }}"></script>
    <script src="{{ global_js }}"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% block js_header %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="stopitmenu">
{% block nav_bar %}{% endblock %}
{% block content %}{% endblock %}
<!-- footer -->
<nav class="navbar-fixed-bottom navbar-default">
    <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
    </div>
</nav>
<!-- end footer -->
<script>
$(document).ready(function() {
var inFormOrLink;
$('a').on('click', function() { inFormOrLink = true; });
$('form').on('submit', function() { inFormOrLink = true; });
});
</script>
{% block js_footer %}{% endblock %}
</body>
</html>
