{% load i18n %}{% load staticfiles %}
{% load custom_tags %}
{% captureas stopit_css %}{% cache_buster "assets/css/stopit.min.css" %}{% endcaptureas %}
{% captureas animate_css %}{% cache_buster "assets/css/animate.css" %}{% endcaptureas %}
{% captureas bootstrap_css %}{% cache_buster "assets/css/bootstrap/bootstrap.min.css" %}{% endcaptureas %}
{% captureas favicon_img %}{% cache_buster  "assets/img/favicon.ico" %}{% endcaptureas %}
{% captureas bootstrap_js %}{% cache_buster  "assets/fx/bootstrap/bootstrap.min.js" %}{% endcaptureas %}
{% captureas modernizer_js %}{% cache_buster  "assets/fx/vendor/modernizr.js" %}{% endcaptureas %}
{% captureas wow_js %}{% cache_buster  "assets/fx/wow.min.js" %}{% endcaptureas %}
{% captureas global_js %}{% cache_buster  "assets/js/global.min.js" %}{% endcaptureas %}
{% captureas stopit_img %}{% cache_buster  "assets/img/stopit.png" %}{% endcaptureas %}
{% captureas strophe_js %}{% cache_buster "assets/fx/strophe.js" %}{% endcaptureas %}
{% captureas cookie_js %}{% cache_buster "assets/fx/js-cookie.js" %}{% endcaptureas %}
{% captureas blop %}{% cache_buster "assets/sounds/blop.mp3" %}{% endcaptureas %}
{% captureas  Incident_Messenger_Page_PhotoBTN %}{% cache_buster "assets/img/Incident_Messenger_Page_PhotoBTN.png" %}{% endcaptureas %}
{% captureas Incident_Messenger_Page_SendBTN %}{% cache_buster "assets/img/Incident_Messenger_Page_SendBTN.png" %}{% endcaptureas %}
{% captureas WebApp_help_Icon %}{% cache_buster "assets/img/WebApp_help_Icon.png" %}{% endcaptureas %}
{% captureas Incident_Messenger_Page_MessengerBTN %}{% cache_buster "assets/img/Incident_Messenger_Page_MessengerBTN.png" %}{% endcaptureas %}
{% captureas WebApp_BlueDots %}{% cache_buster "assets/img/WebApp_BlueDots.png" %}{% endcaptureas %}
{% captureas WebApp_closeBTN %}{% cache_buster "assets/img/WebApp_closeBTN.png" %}{% endcaptureas %}
{% captureas users_gray_img %}{% cache_buster "assets/img/users_gray.png" %}{% endcaptureas %}
{% captureas user_gray_img %}{% cache_buster "assets/img/user_gray.png" %}{% endcaptureas %}
{% captureas validate_js %}{% cache_buster "assets/fx/jquery.validate.min.js" %}{% endcaptureas %}
{% captureas manage_contacts_help_img %}{% cache_buster "assets/img/manage_contacts_help.png" %}{% endcaptureas %}
{% captureas edit_contact_help_img %}{% cache_buster "assets/img/edit_contact_help.png" %}{% endcaptureas %}
{% captureas submit_incident_help_img %}{% cache_buster help_img_uri %}{% endcaptureas %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ stopit_css }}" rel="stylesheet" media="screen" />
    <link href="{{ bootstrap_css }}" rel="stylesheet">
<link href="{{ animate_css }}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css" type="text/css" media="all" />
<link rel="shortcut icon" href="{{ favicon_img }}">
     <title>{% trans "STOPit - Web Application" %}{% block title %}{% endblock %}</title>
    {% block css_header %}{% endblock %}
    <style>
    .row
    {
        max-width: 100%;
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ bootstrap_js }}"></script>
    <script src="{{ modernizer_js }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ wow_js }}"></script>
    <script src="{{ global_js }}"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% block js_header %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60191514-2', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body class="stopit">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    {% block extra_menus %}{% endblock %}
            <a class="brand" style="margin: 0; float: none; left: 48%;" href="/login/">
                <img src="{{ stopit_img }}" height="40px">
            </a>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown stopitsubtitle">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">{% trans "Menu" %} <span class="caret"></span></a>
                <ul class="dropdown-menu nav navbar-nav navbar-right">
                    <li><a href="/login/">{% trans "Report/Get Help" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    {% block help_link %}{% endblock %}
                    <li class="active"><a href="/terms/">{% trans "Terms of Use" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li><a href="#" onclick="showLogoutConfirmation(); return false;">{% trans "Enter New Access Code" %}</a></li>
                </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        <div class="dialog" id="dialog" title="STOPit Messenger" style="display:none;"></div>
    </div>
</nav>

{% block content %}{% endblock %}
<!-- footer -->
<nav class="navbar-fixed-bottom navbar-default">
    <div class="container">
        <p class="text-muted">&copy; 2015 STOPit </p>
    </div>
</nav>
<!-- end footer -->
<script>
var inFormOrLink = false;
$(document).ready(function() {
$('a').on('click', function() { inFormOrLink = true; });
$('form').on('submit', function() { inFormOrLink = true; });
}
);

{% if request.session.keep_logged_in == 0 %}
$(document).ready(startSessionCountDown(parseInt('{{ request.session.keep_logged_in }}',10)));
$(document).ready(document.body.addEventListener('mousedown', function(){ recordActivity(parseInt('{{ request.session.keep_logged_in }}', 10)) }, true));
{% endif %}
$(document).ready(function(){
     if(typeof(getOfflineMessagesInt) == "undefined") {
         //dont do this on messenger page itself
         getOfflineMessagesOtherInt = setInterval(getOfflineChatsAjaxOtherPages, 3000);
}
});

$(window).unload(function() {
                clearInterval(getOfflineMessagesOtherInt);
});

window.onbeforeunload = function() {
                if('{{ request.session.keep_logged_in }}' === '0'){
                    if(!inFormOrLink){
                        console.log("logging out the public user");
                        expireSession(1); //logout if public computer
                    }
                } 
};
</script>
{% block js_footer %}{% endblock %}
</body>
</html>
