{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block js_header %}
    <script>
        $(function() {
            $('#statelist').change(function() {
                this.form.submit();
            });
        });

        var geodata = {{ country_state_list |safe}};

                new WOW().init();

        $( document ).ready(function() {
            // Handler for .ready() called.
                // First - populate the Country select box from the JSON
                for (var i in geodata.countries) {
                    var elem = document.createElement("option");
                    elem.value = geodata.countries[i].code;
                    elem.innerHTML = geodata.countries[i].name;
                    document.getElementById("countrylist").appendChild(elem);
                }

                // Next - add an event handler that will trigger when Country is changed and populate the State box
                document.getElementById("countrylist").addEventListener("change", function () {
                    document.getElementById("statelist").innerHTML = "";
                    var country = document.getElementById("countrylist").options[document.getElementById("countrylist").selectedIndex].value;
                    if (country === "Country") {
                        var elem = document.createElement("option");
                        elem.value = "State";
                        elem.innerHTML = "State";
                        document.getElementById("state").appendChild(elem);
                    }
                    for (var i in geodata.countries) {
                        if (geodata.countries[i].code === country) {
                            for (var a = 0; a < geodata.countries[i].states.length; a++) {
                                if (a == 0)
                                {
                                    var elem = document.createElement("option");
                                    elem.value = "State";
                                    elem.innerHTML = "{% trans "Please Select a State" %}";
                                    document.getElementById("statelist").appendChild(elem);
                                }
                                var elem = document.createElement("option");
                                elem.value = geodata.countries[i].states[a].code;
                                elem.innerHTML = geodata.countries[i].states[a].name;
                                document.getElementById("statelist").appendChild(elem);
                            }
                        }
                    }
         });

        });





    </script>
{% endblock %}
{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}
{% block content %}
    <div class="row">
      <div class="large-12 columns">
        <h1 class="onboardingtitle wow bounceInDown">{% trans "Find Your Country and State:" %}</h1>
      </div>
    </div>

    <div class="row wow bounceInUp">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2 stopitline">&nbsp;
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
        <div style="height: 40px; width: 300px;">
            &nbsp;
        </div>

    <div class="row">
        <div class="col-md-5">&nbsp;</div>
            <div class="col-md-2">
                <div id="ppbarerrortxt" class="wow rollIn animated">{{ error_message }}</div>
            </div>
        </div>


    <div class="row wow bounceInUp">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2">
            <div class="row">
                <form action="/findorg/" method="post">{% csrf_token %}
                    <input type="hidden" name="org_type" value="{{ org_type }}"/>

                    <div class="form-group">
                        <select name="country_code" id="countrylist">
                            <option value="country">{% trans "Please Select a Country" %}</option>
                        </select>
                    </div>

                    <div class="form-group ">
                        <select name="state_code" id="statelist">
                            <option value="state">{% trans "Please Select a State" %}</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
        <div style="height: 40px; width: 300px;" >
            &nbsp;
        </div>
    <div class="row wow bounceInUp">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2 stopitline">&nbsp;
        </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
{% endblock %}
