{% extends "base_pre_login.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{% block js_header %}
<script>
    $(function() {
    $('#states').change(function() {
        this.form.submit();
    });
});
</script>
{% endblock %}
{% block nav_bar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" style="margin: 0; float: none;" href="/">
                    <img src="{{ stopit_img }}" height="40px">
                </a>
            </div>

            <!--/.nav-collapse -->
        </div>
    </nav>
 <!-- Fixed navbar -->
 {% endblock %}
 {% block content %}
    <div class="row">
      <div class="large-12 columns">
        <h1 class="onboardingtitle">Find Your State</h1>
      </div>
    </div>

    <div class="row">
        <div class="col-md-5">&nbsp;</div>
        <div class="col-md-2">
            <div class="row">
            <!--
            < href="/findorg?org_type={{ org_type }}&country_code={{ country_code }}&state_code={{ state.code }}" class="stopitmenuitem">{{ state.name }}
            -->
            <form action="/findorg/" method="post">{% csrf_token %}
                <input type="hidden" name="org_type" value="{{ org_type }}"/>
                <input type="hidden" name="country_code" value="{{ country_code }}"/>
            <select name="state_code" id="states">
                <option value="" selected> Select your state</option>
{% for state in states %}

                    <option value="{{ state.code }}"><img src="{{ map_pin_img }}" width="20px" height="20px"> &nbsp;  &nbsp;{{ state.name }} </option>
{% endfor %}
            </select>
            </form>
        </div>
      </div>
        <div class="col-md-5">&nbsp;</div>
    </div>
{% endblock %}

