{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block extra_menus %}
      <ul class="nav navbar-nav navbar-left stopitsubtitle">
        <li><a style="font-size:22px;" href="/login/">{% trans "< Back" %}</a></li>
      </ul>
{% endblock %}
{% block content %}
    <div class="row">
      <div class="large-12 columns">
        <h1 class="stopittitle">{% trans "Help" %}</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 panel ">
                <img src="{{ submit_incident_help_img }}" class="img-responsive center-block"/>

                <div class="center">
                <p class="stopithelplabel">{% trans "For more help, please Contact Us:" %}</p>
                <p class="stopithelplabel">{% trans "Visit our website:" %} <a href="{% trans "http://www.stopitcyberbully.com" %}" target="_blank">{% trans "stopitcyberbully.com" %}</a><br/></p>
                <p class="stopithelplabel">{% trans "Email Us:" %} <a href="{% trans "mailto:support@stopitcyberbully.com" %}">{% trans "support@stopitcyberbully.com" %}</a><br/></p>
                <p class="stopithelplabel">{% trans "Call Us:" %} {% trans "1.800.383.7086" %}<br/></p>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
        </div>
    </div>

{% endblock %}
