{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}

{% block content %}
    <div class="row">
      <div class="large-12 columns">
        <h1 class="stopittitle">{% trans "Help" %}</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 panel center">
                <img src="{{ manage_contacts_help_img }}" class="img-responsive center-block"/>


                <div class="center">
                <p class="stopithelplabel">{% trans "For more help, please Contact Us:" %}</p>
                <p class="stopithelplabel">{% trans "Visit our website:"%} <a href="http://www.stopitcyberbully.com" target="_blank">stopitcyberbully.com</a><br/></p>
                <p class="stopithelplabel">{% trans "Email Us:"%} <a href="mailto:support@stopitcyberbully.com">support@stopitcyberbully.com</a><br/></p>
                <p class="stopithelplabel">{% trans "Call Us:"%} 1.800.383.7086<br/></p>
                </div>


            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
        </div>
    </div>
{% endblock %}
