{% extends "base.html" %}{% load staticfiles %}{% load i18n %}
{% load custom_tags %}
{% block css_header %}
<style>
*:focus {
    outline: none;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}

.bubbleLeft 
{
    position: relative;
    width: auto;
    height: auto;
    float: left;
    clear: left;
    padding: 15px;
    background: #58a8e9;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: #58a8e9 solid 1px;
    color: white;
    text-align: left;
    font-family: "Source Sans Pro Semibold", sans-serif; 
    display: table;
    table-layout: fixed;
    margin-left: 2px;
}

.bubbleRight 
{
    position: relative;
    width: auto;
    height: auto;
    float: right;
    clear:right;
    padding: 15px;
    background: #52237e;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: #52237e solid 1px;
    color: white;
    text-align: left;
    display: table;
    font-family: "Source Sans Pro Semibold", sans-serif; 
    table-layout: fixed;
    margin-right: 2px;
}

.chatDateLeft
{
    position: relative;
    float: left;
    clear: left;
    font-size: small; 
    color: #808080; 
}

.chatDateRight
{
    position: relative;
    float: right;
    clear: right;
    font-size: small; 
    color: #808080;
}
.bubbleText
{ 
    display: table-cell;
    vertical-align: middle;
    width: auto;
    min-height: 50px;
    max-width: 260px;
    min-width: 30px;
    word-wrap: break-word;
}

.customBox
{
    width: 48%;
    margin-left: 22px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

</style>
{% endblock %}

{% block js_header %}
<script src="{{ strophe_js }}"></script>
<script src="{{ cookie_js }}"></script>
<script>
new WOW().init();
</script>
{% endblock %}

{% block help_link %}
<li><a href="/help_incident/">{% trans "Help" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
{% endblock %}
{% block content %}
<div class="container wow bounceInDown">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
         <h1 class="stopittitle">&nbsp;</h1>
        </div>
        <div class="col-md-3">&nbsp;</div>
    </div>
</div>
<!-- Begin page content -->


    <div class="container" style="background-color: #FFF; height: 590px;">
        <div class="row">
            <div class="col-md-4">
                    <div class="form-group" align="right" style="width: 300px; margin-top: 20px; margin-bottom: 2px;">
                        <Label for="notes"><span class="stopitsubtitle" style="font-size: 18px;">{% trans "Report" %}</span></Label>
                    </div>
            </div>
            <div class="col-md-4">&nbsp;<div class="spacer">&nbsp;</div></div>
            <div class="col-md-4">
                    <div class="form-group" style="width:300px; margin-left: 55px; margin-top: 20px; margin-bottom: 2px;">
                        <Label for="notes"><span class="stopitsubtitle" style="font-size: 18px;">{% trans "Get Help" %}</span></Label>
                    </div>
            </div>
            <audio id="chatAudio">
                <source src="{{ blop }}" type="audio/mp3">
                Your browser does not support the audio element so you cannot hear chat notifications.
            </audio>
        </div>
        <div class="row"><!-- main row -->
            <div class="col-xs-12 col-md-6 customBox" style="min-width: 500px;"><!-- half page column -->
<form id="incidentform" action="/file_incident/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row" style="margin-left: 10px;">
                    <div class="form-group" style="margin-left: 8px; margin-top: 20px; margin-bottom: 2px;">
                        <Label for="notes"><span class="stopitsubtitle" style="color:black; font-size: 15px;">{% trans "Incident Message:" %}</span></Label>
                    </div>
                    <div class="form-group" style="margin-left: 8px;">
                        <textarea rows="10" placeholder="{% trans "Add message or notes" %}" name="notes" id="notes" class="incidentText" style="width: 95%;"></textarea>
                    </div>
                    <div class="row" style="width:94%; margin-left:8px;">
                            {% if not disallow_upload_media %}
                        <div class="col-md-4" style="height:120px; background: linear-gradient(0deg, #C6E9FF, white 60%, white); color-stop-length: 100%;">
                            <Label style="position: relative; left: -5px;"><span class="stopitsubtitle" style="margin-left: 14px; font-size: 15px;">{% trans "Add Photo/Video:" %}</span></Label>
                            <div style="height: 70px;">
                                <img src="{{ Incident_Messenger_Page_PhotoBTN }}" style="margin-left: 35px;" />
                            </div>
                        </div>
                        <div class="col-md-8" style="height:120px; background: linear-gradient(0deg, #C6E9FF,white 60%, white); color-stop-length: 100%;">
                            <div style="height: 70px;">
                                <input style="overflow-x:hidden; margin-top: 50px;" type="file" multiple name="attachedfiles" id="attachedfiles" MAXLENGTH=50
                                accept="image/*,.jpg,.JPG,.gif,.GIF,.png,.PNG,.mp4,.MP4,.mp3,.MP3,.mpg,.MPG,video/mp4">
                            </div>
                        </div>
                            {% else %}
                        <div class="col-xs-12">
                            <input type="hidden" value="" id="attachedfiles">
                        </div>
                            {% endif %}

                        <div class="col-xs-12" style="display:table-cell; vertical-align:middle; text-align:center">
                                {% if report_manager_mandatory == 1 %}
                                <input type="hidden" name="org_contact_mandatory" value="1" id="org_contact_mandatory">
                                {% else %}
                                <input type="hidden" name="org_contact_mandatory" value="0" id="org_contact_mandatory">
                                {% endif %}
                                {% for orgcontact in request.session.contacts %}
                                {% if orgcontact.org_id  != 0 %}
                                <input name="report_contact" id="orgcontact" value="{{ orgcontact.user_id }}" type="checkbox" checked style="display:none;">
                                {% endif %}
                                {% endfor %}
                            <div>
                                <input type="image" value="{%  trans "Send " %} >" id="submit_incident" src="{{ Incident_Messenger_Page_SendBTN }}"></input>
                            </div>
                            <div style="width:105%;">
                                <input style="position: relative; top: -12px; display:none;" type="checkbox" class="anonymous" name="is_anonymous" value="1" checked><span style="position: relative; top: -15px; font-family: 'Source Sans Pro'; display:none;">{% trans "Report Anonymously" %}</span></input>
                            <span style="margin-bottom: 10px; float: right;">
                                <input type="image" id="help_icon" src="{{ WebApp_help_Icon }}"></input>
                            </span>
                            </div>
                        </div>
                    </div><!-- incident report row -->
                </div><!-- end row-->
</form>
            </div><!-- end half page column -->
            <div class="col-xs-12 col-md-6 customBox" style="background: linear-gradient(#B2D5EB, white, #B2D5EB) fixed; max-height: 493px; min-width: 500px;">
              <div class="row" style="height: 510px; margin-left: 6px;">
                        <div class="messenger-count badge" id="new_message_count" align="center" style="z-index: 1; background-color: red;"></div>
                        <div align="center" style="margin-top: 110px;">
                        <input id="chatButton2" type="image" src="{{ Incident_Messenger_Page_MessengerBTN }}" {% if is_in_recess or not is_chat_active or after_hours_on %}disabled{% endif %}></input>
                        </div>
                    <div align="center" style="margin-bottom:10px;">
                        <a class="chatbutton stopitsubtitle" id="chatButton" {% if is_in_recess or not is_chat_active or not after_hours_on %}disabled{% endif %} style="width:250px; color:black;">
                            {% blocktrans %}Connect with<br>{{ ORG_NAME }}<br>Anonymously{% endblocktrans %}
                        </a>
                    <div id="blue_dots">
                         <img src="{{ WebApp_BlueDots }}"/>
                    </div>
                    </div>
             </div><!--end row-->
             <!--<div class="row">-->
                <div id="messengerWindow" style="display: none;">
                        <div style="position:relative; top:-500px; z-index:3;">
                            <input style="float:right;" type="image" id="close_icon" src="{{ WebApp_closeBTN }}"></input>
                       </div>
                    <div class="panel" id="log" style="overflow-y: auto; overflow-x: hidden; background-color: white; position:absolute; top:45px; left:40px; width:85%; height:365px; z-index: 2;">
                    </div>
                <div id="chatBox" style="display: none; position:relative; left:25px; top:-142px; width:90%; clear: right;">
                    <div class="panel" style="padding: 1px; background-color:#851239; height: 55px;border-width: 5px; border-color: #851239; z-index: 1;">
                        <textarea style="width: 84%; max-height: 42px; overflow-x: auto;word-wrap: break-word; word-break; break-word; position: absolute; top: 8px;"
                            id="messengerTextbox"
                            name="messengerTextbox" 
                            placeholder="{% trans "New Message" %}"></textarea>
                        <button id="send_message" style="background-color:#851239; height: 40px; position:relative; top:3px; margin-left: 87%; width: 60px; border-style: solid; border-width: 1px; border-color: white; -moz-border-radius: 6px; border-radius: 6px;" onmouseover="$(this).css('background', '#b4184e');" onmouseout="$(this).css('background', '#851239');">
                            <span id="sendButtonText" style="color: white; position:relative; left: 0px;"><b>
                                    {% trans "Send" %}
                            </b></span>
                        </button>
                    </div>
                </div>
              </div>
             <!--</div>--><!--end row-->

              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_footer %}
<script>

$(document).ready($('#chatButton').attr("disabled", false));
$(document).ready($('#chatButton2').attr("disabled", false));
$(document).ready(showOfflineChatCount('{{ offlineCount }}', '{{ offlineMessages }}'));
$(document).ready(getOfflineMessagesInt = setInterval(getOfflineChatsAjax,3000));
$(document).ready(checkMessagesInt = setInterval(checkForMessages, 1000));

$(document).ready($('#chatButton').click(function(e) {
    openChatWindow('{{ after_hours_on }}', '{{ after_hours_message }}');
            return false;
            }));
$(document).ready($('#chatButton2').click(function(e) {
    openChatWindow('{{ after_hours_on }}', '{{ after_hours_message }}');
            return false;
            }));
$(document).ready($('#send_message').click(function(e) {
            sendMessage($.trim($('#messengerTextbox').val()), window); 
            return false;
            }));
$(document).ready($('#help_icon').click(function(e) {
            window.location.href = '/help_incident/';
            return false;
            }));
$(document).ready($('#close_icon').click(function(e) {
            closeChatWindow();
            Cookies.remove('AWSELB');
            e.stopPropagation();
            }));
// allow enter key press to send message
$(document).ready($('#messengerTextbox').keypress(function (e) {
            var key = e.which;
            if(key == 13)  // the enter key code
            {
            sendMessage($.trim($('#messengerTextbox').val()), window); 
            return false;  
            }
            }));
 // bind disconnect to page unload
            $(window).unload(function() {
                console.log("unload called");
                Cookies.remove('AWSELB');
                clearInterval(checkMessagesInt);
                clearInterval(getOfflineMessagesInt);
                checkMessagesInt = undefined;
                getOfflineMessagesInt = undefined;
                onDisconnect(Strophe.Status.CONNECTED);
            });
</script>
{% endblock %}
