{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_tags %}
{% block js_header %}
    <script>
        new WOW().init();
    </script>
{% endblock %}

{% block help_link %}
<li><a href="/help_incident/">{% trans "Help" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
{% endblock %}

{% block content %}
    <div class="container wow bounceInDown">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <h1 class="stopittitle">{% trans "Your report has been submitted. Remember, you may receive a response to your report via STOPit Messenger, so please be sure to check back soon." %}</h1>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>


        <div class="container">
            {% if after_hour_report_message %}
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">&nbsp;<div class="spacer">&nbsp;</div></div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6 afterhours">&nbsp;{{ after_hour_report_message }}</div>
                <div class="col-md-3">&nbsp;</div>
            </div>
            {% endif %}
            <form>
            <div class="row" style="height:590px;">
                <div class="col-md-3"></div>
                <div class="col-md-4" style="float: none; position:absolute;left:43%;">&nbsp;<input type="submit" formaction="/login/" class="stopitbutton" value="{%  trans "Back to Report/Get Help" %}"></div>
                <div class="col-md-4"></div>
            </div>
            </form>

       </div>
{% endblock %}
