{% load i18n %}{% load staticfiles %}{% load custom_tags %}
{% captureas stopit_css %}{% cache_buster "assets/css/stopit.min.css" %}{% endcaptureas %}
{% captureas animate_css %}{% cache_buster "assets/css/animate.css" %}{% endcaptureas %}
{% captureas bootstrap_css %}{% cache_buster "assets/css/bootstrap/bootstrap.min.css" %}{% endcaptureas %}
{% captureas favicon_img %}{% cache_buster  "assets/img/favicon.ico" %}{% endcaptureas %}
{% captureas bootstrap_js %}{% cache_buster  "assets/fx/bootstrap/bootstrap.min.js" %}{% endcaptureas %}
{% captureas modernizer_js %}{% cache_buster  "assets/fx/vendor/modernizr.js" %}{% endcaptureas %}
{% captureas global_js %}{% cache_buster  "assets/js/global.min.js" %}{% endcaptureas %}
{% captureas stopit_img %}{% cache_buster  "assets/img/stopit.png" %}{% endcaptureas %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% trans "STOPit - Web Application" %}{% block title %}{% endblock %}</title>
    <link href="{{ bootstrap_css }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="shortcut icon" href="{{ favicon_img }}">
    <link href="{{ stopit_css }}" rel="stylesheet" media="screen" />
    {% block css_header %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ bootstrap_js }}"></script>
    <script src="{% cache_buster  "assets/fx/clipboard.min.js" %}"></script>
    <script src="{{ modernizer_js }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ global_js }}"></script>
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% block js_header %}{% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60191514-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="stopit">
    <div class="text-center" style="padding:10px 0; margin-bottom: 30px; background: #fff;">
        <img src="{{ stopit_img }}" height="40px">
    </div>

<!-- Begin page content -->

{% block content %}{% endblock %}

<!-- End page content -->

    <!-- footer -->
    <div class="container-fluid text-center" style="background: #E4F3FB">
        <div class="spacer">&nbsp;</div>
        <p>
            {% trans "Download STOPit for free from <strong>iTunes</strong> or <strong>Google Play</strong>." %}
        </p>
        <div class="center" style="width:300px">
            <img src="{% cache_buster "assets/img/access_code_landing/apple_badge.png" %}" class="pull-left" style="width: 140px" />
            <img src="{% cache_buster "assets/img/access_code_landing/google_badge.png" %}" class="pull-rightt" style="width: 140px" />
        </div>
        <div class="spacer">&nbsp;</div>
        <div class="spacer">&nbsp;</div>
    </div>
    <!-- end footer -->

{% block js_footer %}{% endblock %}
</body>
</html>
